body {
    margin: 0;
    padding: 0;
    
}
header{
    
    width: 100%;
    height: 10vh;
    background: no-repeat;
    background-size: cover;
    

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 20px);
    padding: 20px;
    box-sizing: border-box;
}


.presentation {
    text-align: center;
    max-width: 800px;
}
.presentation h1 {
    font-size: 48px;
    font-weight: 600; /* Semi-bold */
    color: #FF6B89;
    margin-bottom: 10px;
}
.presentation p {
    font-size: 24px;
    color: #FF6B89;
    margin-bottom: 10px;
}
.presentation p:nth-of-type(2) {
    font-weight: 600; /* Semi-bold */
}
.image-top-right {
    position: absolute;
    top: 200px;
    right: 0px;
    width: auto;
    height: 400px;

    
}
.image-bottom-left {
    position: absolute;
    bottom: 9px;
    left: 0px;
    width: auto;
    height: 400px;
    transform: scaleX(-1);

    
}

